<div class="container">
    <a class="ancorLogo">
        <img class="logo" src="../../../assets/icons/logo.svg">
    </a>


    <nav class="naveg">
        <ul>
            <li>
                <a href="#">
                    <img class="rockIcon" src="../../../assets/icons/rock.svg">
                </a>
            </li>

            <li>
                <a href="#">
                    <img class="alienIcon" src="../../../assets/icons/alien.svg">
                </a>
            </li>
        </ul>
    </nav>
    
</div>
