.container {
    position: relative;
    height: 525px;
    width: 100%;
    display: flex;
}

.containNav {
    width: 200px;
    background-color: rgb(106, 121, 122);
    display: flex;
    position: relative;
}

.containRouter {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    left: 200px;
    object-fit: contain;
    background-color: rgb(255, 255, 255);
    justify-content: center;
}

nav, ul {
    list-style: none;
    width: 100%;
    margin: 0 0;
    padding: 0 0;
}

li {
    width: 90%;
    height: 35px;
    margin: 10px;
}

a {
    color: cornsilk;
    text-decoration: none;
    margin-left: 20%;
    font-size: 18px;
    padding: 8px;
}



